@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import "./abstracts/theme.module";

:root {
  @include printVariables();
}

* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 1.5;
  color: var(--bodyFontColor);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  padding: 0;
  // font-family: Arial, Helvetica, sans-serif;
  font-family: "Roboto";
  overflow-x: hidden;
}
#__next {
  overflow-x: hidden;
}

.MuiFormHelperText-root {
  color: #ff5630;
  margin-left: 5px !important;
}

.css-1anqmj6-MuiPopper-root-MuiPickersPopper-root {
  z-index: 5000;
}

.css-10nakn3-MuiModal-root-MuiPopover-root-MuiMenu-root {
  position: fixed;
  z-index: 5000;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
}

.MuiFormHelperText-root {
  color: #ff5630;
  margin-left: 5px !important;
}

.css-1anqmj6-MuiPopper-root-MuiPickersPopper-root {
  z-index: 5000;
}

.css-10nakn3-MuiModal-root-MuiPopover-root-MuiMenu-root {
  position: fixed;
  z-index: 5000;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
}

.css-1sucic7 {
  position: fixed;
  z-index: 5000 !important;
  inset: 0px;
}

.css-210kcl-MuiModal-root-MuiDialog-root {
  position: fixed;
  z-index: 1300;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  z-index: 5000 !important;
}

.css-1mtsuo7 {
  z-index: 99999 !important;
}

.simplebar-content-wrapper {
  direction: inherit;
  box-sizing: border-box !important;
  position: relative;
  display: block;
  height: 100%;
  width: auto;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  // background: #004151;
  background: #eeeff7;
  // background: linear-gradient(
  //   90deg,
  //   rgba(2, 0, 36, 1) 0%,
  //   rgba(0, 212, 255, 1) 0%,
  //   rgba(0, 0, 0, 1) 100%
  // );
}

.css-1mk9mw3-MuiList-root {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  // background: #2a616f;
  // background: #2a616f6e;
  // background: #eeeff7;
}

@media (min-width: 1200px) {
  .css-1lndy45-MuiToolbar-root {
    padding-left: 40px;
    padding-right: 40px;
    // background: #57808c2b;
    // background: #eeeff7;
  }
}

.css-w625fn-MuiPaper-root-MuiAppBar-root {
  background-color: #ffffff;
  color: #212b36;
  -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  position: fixed;
  z-index: 1100;
  top: 0;
  left: auto;
  right: 0;
  // background-color: #124c5cb3;
  background-color: #eeeff7;
  color: #000000;
  box-shadow: none;
  height: 55px;
  z-index: 1101;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  background-color: rgba(249, 250, 251, 0.8);
  -webkit-transition: height 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: height 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  width: calc(100% - 281px);
}

.css-y7rl26 {
  margin-top: 24px;
  margin-bottom: 24px;
  margin-left: 16px;
  margin-right: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 20px;
  padding-right: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-radius: 6px;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  // background-color: rgba(145, 158, 171, 0.12);
}

// .css-apqrd9-MuiTableBody-root {
//   display: table-row-group;
//   background: #f9fafb;
// }

@media (min-width: 1200px) {
  .css-1lndy45-MuiToolbar-root {
    padding-left: 40px;
    padding-right: 40px;
    background: #f9fafb;
  }
}


